/*
#article-container h1 a:not([rel="external nofollow noreferrer"]),
#article-container h2 a:not([rel="external nofollow noreferrer"]),
#article-container h3 a:not([rel="external nofollow noreferrer"]),
#article-container h4 a:not([rel="external nofollow noreferrer"]),
#article-container h5 a:not([rel="external nofollow noreferrer"]),
#article-container h6 a:not([rel="external nofollow noreferrer"]) {
    float: right;
    opacity: .08;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=8)";
    filter: alpha(opacity=8);
    position: relative;
    padding: 0;
    border: none;
    line-height: 2;
    font-size: 1.9rem;
    border-radius: 8px!important;
    text-decoration: none!important;
    border-bottom: none!important;
    font-weight: 700;
}

#article-container h1 a:not([rel="external nofollow noreferrer"])::before,
#article-container h2 a:not([rel="external nofollow noreferrer"])::before,
#article-container h3 a:not([rel="external nofollow noreferrer"])::before,
#article-container h4 a:not([rel="external nofollow noreferrer"])::before,
#article-container h5 a:not([rel="external nofollow noreferrer"])::before,
#article-container h6 a:not([rel="external nofollow noreferrer"])::before {
    font: var(--fa-font-solid);
    content: '\f0c1'; /* FontAwesome icon for 'link' */
    /* float: right; */
    color: var(--headline-presudo);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

#article-container>:first-child:is(h2) {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
}

#article-container a:not([rel="external nofollow noreferrer"]):hover:after {
    color: var(--pseudo-hover);
}

#article-container a:not([rel="external nofollow noreferrer"]) h1:hover a:after,
#article-container a:not([rel="external nofollow noreferrer"]) h2:hover a:after,
#article-container a:not([rel="external nofollow noreferrer"]) h3:hover a:after,
#article-container a:not([rel="external nofollow noreferrer"]) h4:hover a:after,
#article-container a:not([rel="external nofollow noreferrer"]) h5:hover a:after,
#article-container a:not([rel="external nofollow noreferrer"]) h6:hover a:after {
    opacity: 1;
    -ms-filter: none;
    filter: none;
}
*/